/* Register.css */
.register-container {
  width: 466px;
  height: 603px;
  background: #26273B;
  border-radius: 34px;
  display: flex; /* Use flexbox para alinhar o conteúdo */
  flex-direction: column;
  align-items: center; /* Centralizar horizontalmente */
  padding: 30px; /* Espaçamento interno */
}

.register-container h2 {
  color: white;
  margin-bottom: 30px;
}

/* Estilos para os inputs */
.register-container input {
  width: 100%;
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 10px;
  border: none;
  /* ... outros estilos para os inputs */
}

/* Estilos para o botão */
.register-container button {
  padding: 15px 30px;
  border: none;
  border-radius: 10px;
  background-color: #FF4500; /* Cor laranja */
  color: white;
  cursor: pointer;
  /* ... outros estilos para o botão */
}