
.register-page { /* Classe container para a página */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #1B1B25;
  overflow: hidden;
  position: relative;
}

.register-page .illumination { 
  position: absolute;
  width: 225.773px; 
  height: 167.743px; 
  background-color: #FA06FF;
  filter: blur(115px); 
  z-index: 0;
}

.register-page .top-left {
  top: -50px; 
  left: -50px; 
}

.register-page .bottom-right {
  bottom: -50px; 
  right: -50px; 
}

.register-page .register-container { 
  width: 569.818px; 
  height: 559.397px; 
  border-radius: 34px;
  border: 1px solid #26273B;
  background: linear-gradient(111deg, rgba(38, 39, 59, 0.29) 0%, rgba(104, 106, 161, 0.16) 100%);
  box-shadow: 0px 6px 5.8px rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  position: relative;
  z-index: 1;
}

.register-page .register-title {
  width: 216px;
  height: 33px;
  color: #FFF;
  flex-shrink: 0;
  text-align: center;
  font-family: "Lilita One";
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: -20px; 
}

.register-page .page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
}

.register-page .icon-container {
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  margin-bottom: 30px;
  margin-top: -60px;
}

.register-page .icon-container svg, 
.register-page .icon {
  position: absolute;
  color: #FFF;
  font-size: 30px;
}

/* Estilos específicos para o formulário de registro */
.register-page .register-form { 
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.register-page .register-form .input-group { 
  --x: 0px;
  --y: 0px;
  position: relative;
  width: 419.046px; 
  height: 52px; 
  margin-bottom: 16px; 
  transform: translate(var(--x), var(--y));
}

.register-page .register-form .register-input { 
  width: 100%;
  height: 100%;
  padding-left: 50px; 
  border-radius: 15px;
  border: 0.5px solid rgba(255, 255, 255, 0.30);
  background: #1B1B25;
  color: #666;
  font-family: "Source Serif Pro";
  font-size: 20px;
  line-height: normal;
  text-align: left; 
}

.register-page .register-form .input-icon { 
  position: absolute;
  left: 15px; 
  top: 50%;
  transform: translateY(-50%);
  width: 23.109px; 
  height: 25.161px;
  background-size: contain;
  background-repeat: no-repeat;
}

.register-page .register-form .input-icon.nome {
  background-image: url('./icon/customer_ico.png');
}

.register-page .register-form .input-icon.email {
  background-image: url('./icon/email_ico.png');
}

.register-page .register-form .input-icon.senha {
  background-image: url('./icon/lock_ico.png');
}

.register-page .register-form .input-icon.cpf {
  background-image: url('./icon/document_ico.png');
}

.register-page .register-form .input-icon.telefone {
  background-image: url('./icon/phone_ico.png');
}


.register-page .register-button {
  width: 354.098px; 
  height: 54.656px; 
  flex-shrink: 0;
  border-radius: 15px;
  border: 0.5px solid rgba(255, 255, 255, 0.30);
  background: linear-gradient(91deg, rgba(0, 255, 10, 0.63) 0%, rgba(0, 153, 6, 0.36) 100%);
  color: #FFF;
  text-align: center;
  font-family: "Sulphur Point";
  font-size: 26px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px; 
}

.register-page .success-message { 
  width: 249px;
  height: 16px;
  flex-shrink: 0;
  color: #00FF38;
  text-align: center;
  font-family: "Sulphur Point";
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 20px; 
}

.register-page .have-account { 
  margin-top: 20px;
  text-align: center;
  color: #FFF;
  font-family: "Sulphur Point";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.register-page .have-account-button { 
  background: none;
  border: none;
  color: #0057FF;
  font-family: "Sulphur Point";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  cursor: pointer;
  text-decoration: underline;
}